@using BShop.Utils
@model IEnumerable<BShop.Models.Entity.Product>

@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var pageTitleModel = new List<string>() { "Sản phẩm đã bán", "Quản lý sản phẩm" };
}

@section css {
    <link href="~/Content/admin/dataTables.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/admin/responsive.bootstrap5.css" rel="stylesheet" type="text/css" />
}

@Html.Partial("_PageTitle", pageTitleModel)


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-centered table-striped dt-responsive nowrap w-100" id="products-datatable">
                        <thead>
                            <tr>
                                <th style="width: 100px;">STT</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá</th>
                                <th>Giá sau khi giảm</th>
                                <th>Ảnh</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var (value, index) in Model.Select((v, i) => (v, i)))
                            {
                                <tr>
                                    <td>
                                        @(index + 1)
                                    </td>
                                    <td class="table-user">
                                        <a href="javascript:void(0);" class="text-body fw-semibold">@value.ProductName</a>
                                    </td>
                                    <td>
                                        @($"{value.Price:n0}") đ
                                    </td>

                                    <td>
                                        @($"{value.Discount:n0}") đ
                                    </td>

                                    <td>
                                        <img src=@Url.Content(value.ProductImage) alt="B shop" 
                                             style="width: 100px; height: 100px; object-fit: cover;"/>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>
<!-- end row -->



@section js {
    @if (TempData[Constant.STATUS_RS] != null)
    {
        <script>
            showToast('@Html.Raw(TempData[Constant.MESSAGE_RS])', '@TempData[Constant.STATUS_RS]');
        </script>
    }
    <script src="~/Scripts/admin/product.saled.js"></script>
}