@using BShop.Utils
@model IEnumerable<BShop.Models.Entity.Category>

@{
    ViewBag.Title = "Quản lý loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var pageTitleModel = new List<string>() { "Loại sản phẩm", "Quản lý loại sản phẩm" };
}

@section css {
    <link href="~/Content/admin/dataTables.bootstrap5.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/admin/responsive.bootstrap5.css" rel="stylesheet" type="text/css"/>
}

<!-- start page title -->
@Html.Partial("_PageTitle", pageTitleModel)
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-5">
                        <a href="/Admin/CategoryMana/Add" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle me-2"></i> Thêm mới</a>
                    </div>
                    <div class="col-sm-7 d-none">
                        <div class="text-sm-end">
                            <button type="button" class="btn btn-success mb-2 me-1">
                                <i class="mdi mdi-cog"></i>
                            </button>
                            <button type="button" class="btn btn-light mb-2 me-1">Import</button>
                            <button type="button" class="btn btn-light mb-2">Export</button>
                        </div>
                    </div><!-- end col-->
                </div>
                <div class="table-responsive">
                    <table class="table table-centered table-striped dt-responsive nowrap w-100" id="products-datatable">
                        <thead>
                        <tr>
                            <th style="width: 100px;">STT</th>
                            <th>Loại sản phẩm</th>
                            <th>Ngày cập nhật cuối cùng</th>
                            <th style="width: 75px;">#</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var (value, index) in Model.Select((v, i) => (v, i)))
                        {
                            <tr>
                                <td>
                                    @(index + 1)
                                </td>
                                <td class="table-user">
                                    <a href="javascript:void(0);" class="text-body fw-semibold">@value.CategoryName</a>
                                </td>
                                <td>
                                    @(value.UpdatedAt?.ToLongDateString())
                                </td>

                                <td>
                                    <a href="/Admin/CategoryMana/Edit/@value.CategoryId" class="action-icon" title="Chỉnh sửa">
                                        <i class="mdi mdi-square-edit-outline"></i>
                                    </a>
                                    <a href="/Admin/CategoryMana/Del/@value.CategoryId" class="action-icon" title="Xóa">
                                        <i class="mdi mdi-delete"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>
<!-- end row -->

@section js {
    @if (TempData[Constant.STATUS_RS] != null)
    {
        <script>
            showToast('@Html.Raw(TempData[Constant.MESSAGE_RS])', '@TempData[Constant.STATUS_RS]');
        </script>
    }
    <script src="~/Scripts/admin/account.index.js"></script>
}