@using ProjectWeb.Utils
@model ProjectWeb.Models.Entity.slider

@{
    ViewBag.Title = "Chỉnh sửa banner";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var pageTitleModel = new List<string>() { "Banner", "Chỉnh sửa banner" };
}

<!-- start page title -->
@Html.Partial("_PageTitle", pageTitleModel)
<!-- end page title -->

@using (Html.BeginForm("DoUpdate", "SliderMana", FormMethod.Post, new
        {
            enctype = "multipart/form-data"
        }))
{
    @Html.HiddenFor(item => item.slider_id)
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- end card-body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="mb-3">
                                <label class="form-label">Ảnh</label>
                                <input type="file" class="form-control" name="img" placeholder="Chọn ảnh" id="file-upload"/>
                            </div>
                        </div> <!-- end col-->
                        <div class="col-xl-6"></div>
                        <div class="col-xl-6" id="uploadPreviewTemplate"></div>
                    </div>
                    <button class="btn btn-sm btn-primary mt-2">Sửa</button>
                    <!-- end row -->
                </div>
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->
}
<script>
    function render() {
        const preview = document.getElementById('uploadPreviewTemplate');
        preview.innerHTML = `
                <div class="card mt-1 mb-0 shadow-none border">
                    <div class="p-2">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <img src=@Url.Content(Model.slider_img) class="avatar-sm rounded bg-light" alt="HP Shop">
                            </div>
                            <div class="col ps-0">
                                <a href="javascript:void(0);" class="text-muted fw-bold">@Model.slider_img</a>
                                <p class="mb-0" >KB</p>
                            </div>
                        </div>
                    </div>
                </div>
                `;
        }
    render();
</script>

@section js {
    @if (TempData[Constant.STATUS_RS] != null)
    {
        <script>
            showToast('@Html.Raw(TempData[Constant.MESSAGE_RS])', '@TempData[Constant.STATUS_RS]');
        </script>
    }
    <script src="~/Scripts/admin/banner.update.js"></script>
}